<div id="contenu">

    <div class="page-header">
        <h2>Ajoute une réponse</h2>
    </div>

    {{ form_start(form, { 'action': path('wcs_platform_reponses_add'), 'attr': { 'novalidate': 'novalidate', 'autocomplete': 'off' } }) }}
        {{ form_row(form.contenu) }}
        {{ form_row(form.question, {'value' : idQuestion ~ "", 'attr' : {'style' : 'display:none;'} }) }}
        <div class="form-row text-right">
            <button class="btn bouton" type="submit" value="Poste-moi"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Poste-moi</button>
        </div>
    {{ form_end(form) }}

</div>