{% extends "::layout.html.twig" %}

{% block Wcsplatform_body %}
    {% block fos_user_content %}

        <div class="page-header">
            <h2>Modification mot de passe</h2>
        </div>

        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password', 'novalidate': 'novalidate', 'autocomplete': 'off' } }) }}
            {{ form_widget(form) }}
            <div class="form-group text-right">
                <a class="btn btn-danger" href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler</a>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Modifier</button>
            </div>
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}