{% extends "::layout.html.twig" %}

{% block Wcsplatform_body %}

<div id="contenu">
<!-- Single button -->
<!--<div class="btn-group">
    <a class="btn" id="bouton" href="#">Poser une question !</a>
</div>!-->
</div>
{% endblock %}
