{% extends "::layout.html.twig" %}

{% block Wcsplatform_body %}
    <div class="jumbotron">
        <h1><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Hello, world!</h1>
    </div>
{% endblock %}
