/************************************************\
==================================================
1. Navbar
==================================================
\************************************************/
#header{
    background: #f9a02e;
    background-image:-moz-linear-gradient(270deg, #ffdea5, #f9a02e);
    background-image:-webkit-linear-gradient(270deg, #ffdea5, #f9a02e);
    background-image:-o-linear-gradient(270deg, #ffdea5, #f9a02e);
    background-image:linear-gradient(270deg, #ffdea5, #f9a02e);
    border: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding:20px 0px 0px 0px;
}
#font{
    color: white;
}

#font a{
    color: white;
}
#font a:hover{
    color: black;
}
#dropdown_login a{
    background-color:#35383a;
}
#dropdown_login a:hover{
    background-color:#35383a;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp {
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb {
    color: #fff;
    background-color:#1fa597;
}
.btn-fb:hover{
    color: #fff;
    background-color:#80cbc4;
}
.btn-tw{
    color: #fff;
    background-color:#80cbc4;
}
.btn-tw:hover{
    color: #fff;
    background-color:#58c4b8;
}
.btn-block{
    color: #fff;
    background-color:#58c4b8;
}
#bottom{
    background-color:#f9a02e;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

.headerImage{
    margin-top: -20px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/************************************************\
==================================================
2. Question
==================================================
\************************************************/
#contenu{
    background-color:#35383a;
    height: 700px;
}
#bouton{
    background-color:#1fa597;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 40px;
}


/************************************************\
==================================================
3. Footer
==================================================
\************************************************/


.footer {
    background: #222222 none repeat scroll 0 0;
    border-top: 4px solid #fcab0e;
    margin: 0;
    padding: 20px 0;
}
.footer_dv {
    width: 100%;
}
.footer_dv h4 {
    color: #fcab0e;
    font-family: roboto;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f2f2;
    padding: 5px 0;
}
.footer_dv p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}