/************************************************\
==================================================
1. Navbar
==================================================
\************************************************/
#header{
    background: #1fa597;
    z-index: 1000;
    position: fixed;
    margin-top:-60px;
    width: 100%;
    border: none;
    box-shadow: 0px 1px 0px #35383a;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding:40px 0px 0px 0px;
}
.nav{
    margin-top: -20px;
}
.navbar-form{
    margin-top: -10px;
    margin-left: 30px;
}
#font, .navbar-inverse .navbar-nav > li > a{
    color: white;
}
#font a{
    color: white;
}
#font a:hover, .navbar-inverse .navbar-nav > li > a:hover{
    color: black;
}
.logo{
    margin-top: -50px;
}
.headerImage{
    z-index:999;
    margin-top:60px;
}
.modal-content{
    width: 350px;
    margin-left:90%;
    margin-top:89px;
    padding: 14px 14px 0;
    background-color:rgba(255,255,255,.7);
}
.open > a{
    background-color: transparent;

}
.btn-primary {
    color: #fff;
    background-color:#1fa597;
    border:1px solid #1fa597;
}
.btn-primary:hover{
    color: #fff;
    background-color:#80cbc4;
    border:1px solid #80cbc4;
}


.btn-block{
    color: #fff;
    background-color:#58c4b8;
}
#bottom{
    background-color:#f9a02e;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}


@media(max-width:768px){
    .modal-content{
        width: 300px;
        margin: 69px auto;
    }
}
/************************************************\
==================================================
2. Question
==================================================
\************************************************/
body{
    background-color:#35383a;
    color: white;
    font-family: 'Raleway', sans-serif;
}
#bouton{
    background-color:#1fa597;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 40px;
}
#contenu h1{
    margin: 0 0;
    padding: 10px 10px;
}
.formulaire{
    width: 90%;
    margin-left:40px;
}
#questions{
    margin-top: 40px;

}
a{
    color:white;
}
.bouton-question {

    background-color:#1fa597;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}


/************************************************\
==================================================
3. Footer
==================================================
\************************************************/


.footer {
    background: #222222 none repeat scroll 0 0;
    border-top: 4px solid #fcab0e;
    margin: 0;
    padding: 20px 0;
    text-decoration: none;
}
.footer a {
    text-decoration: none;
    color:white;
}
.footer a:hover {
    text-decoration: none;
    color:white;
}
.footer_dv {
    width: 100%;
}
.footer_dv h4 {
    color: #fcab0e;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f2f2;
    padding: 5px 0;
}
.footer_dv p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}
.fa{
    padding: 0px 10px;
}

.user-modal{
    display: block;
}