{% extends "WcsPlatformBundle:Default:index.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block Wcsplatform_modal %}
    <div class="modal user-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Mot de passe oublié</h4>
                </div>
                <div class="modal-body">
                    {% block fos_user_content %}
                        <p>
                            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                        </p>
                        <div class="text-right">
                            <a class="btn btn-danger" href="{{ path('wcs_platform_homepage') }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Fermer</a>
                        </div>
                    {% endblock %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}