{% extends "WcsPlatformBundle:Default:index.html.twig" %}

{% block Wcsplatform_modal %}
    <div class="modal user-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Inscription</h4>
                </div>
                <div class="modal-body">
                    {% block fos_user_content %}
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': {'class': 'fos_user_registration_register', 'novalidate': 'novalidate'}}) }}
                        {{ form_row(form.plainPassword) }}
                        <div class="form-group text-right">
                            <a class="btn btn-danger" href="{{ path('wcs_platform_homepage') }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler</a>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Modifier</button>
                        </div>
                        {{ form_end(form) }}
                    {% endblock %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}